node_modules/
.DS_Store
__MACOSX
*.zip
dist/
build/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# IDE
.idea/
.vscode/

# Docs hiding (Ignore everything in docs except the specified paths)
docs/*
!docs/agents/
!docs/contracts/
!docs/START.md
